html {
    scroll-behavior: smooth;
}

div.container-fluid {
    padding: 0;
}

.dark-background {
    padding: 1rem;
    background-color: #141414;
    color: white;
}

.row-title {
    margin-left: 1.5rem;
}

.movie-row {
    margin: .5rem;
}

.movie-row > 

a {
    text-decoration: none;
}

.card-body:hover .card-title {
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.card-img-overlay {
    padding: 0;
    vertical-align: bottom;
}

.title-overlay {
    margin: 5px;
    width: calc(100% - 10px);
    background-color: #333333;
    font-size: 1.25rem;
}

section.carousel-section {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}